@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local('Poppins-Regular'), url(../assets/fonts/Poppins-Italic.ttf) format('woff');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Poppins-Bold'), url(../assets/fonts/Poppins-Bold.ttf) format('woff');
}

@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: local('Poppins-ExtraBold'), url(../assets/fonts/Poppins-ExtraBoldItalic.ttf) format('woff');
}

/* Works for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Works for Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}